body {
	font-family: Tahoma, sans-serif;
}

h1 {
	font-size: 30pt;
	text-align: center;
	font-variant: small-caps;

}

h2 {
	font-size: 16pt;
	text-align: center;
	font-weight: normal;
}

h3 {
	font-size: 11pt;
	font-style: italic;
	font-weight: 300;
	position: relative;
	left: 60%;
}

h4 {
	color: gray;
	font-family: courier, sans-serif;
	font-size: 10pt;
	text-align: center;
}

#photoFrame {
	margin: 0px auto;
	text-align: center;
}

#photo {
	border: 8px solid navy;
	padding: 5px;
	cursor: pointer;
}

